- name: "Installing Waybar packages"
  kewlfft.aur.aur:
    name:
      - waybar
    state: present

- name: Creating config directory if it doesn't exist
  ansible.builtin.file:
    path: "{{config_dir}}/waybar"
    state: directory
    mode: '0755'

- name: Copying config files
  ansible.builtin.command:
    cmd: stow -d {{stow_dir}} -t {{home}} --no-folding --dotfiles -S waybar
  changed_when: true
