configuration {
  modi: "window,run,drun,ssh";
  font: "Hack Nerd Font 12";
  show-icons: true;
  display-ssh:    " ";
  display-run:    " ";
  display-drun:   " ";
  display-window: " ";
  display-combi:  " ";
}

//@theme "/usr/share/rofi/themes/Paper.rasi"

@theme "/home/chester/.config/rofi/themes/gtk/gtk-base.rasi"
