- name: Checking sudo_password variable existances
  ansible.builtin.debug:
    msg: "The variable sudo_password is {{sudo_password}}"
  tags: hypr

- name: "Installing Hyprland packages"
  vars:
    pkgs: "{{ hyprland_pkgs.values() + wayland_common_pkgs.values() }}"
  ansible.builtin.expect:
    command: paru -S --noprogressbar --noconfirm --needed {{item}}
    responses:
      password: "{{sudo_password}}"
  loop: "{{ (pkgs + [thunar_pkgs]) | flatten }}"
  tags: hypr

- name: Creating config directory if it doesn't exist
  ansible.builtin.file:
    path: "{{config_dir}}/hypr"
    state: directory
    mode: '0755'
  tags: hypr

- name: Copying config files
  ansible.builtin.command:
    cmd: stow -d {{stow_dir}} -t {{home}} --no-folding --dotfiles -S hypr
  changed_when: true
  tags: hypr
