- name: "Installing Hyprland packages"
  vars:
    hyprland_pkgs:
      main:
        - hyprland # Wayland compositor
        - hypridle # Idle Manager
        - hyprlock # Lock screen
        - hyprcursor
        - hyprpolkitagent # Polkit agent
        - hyprpicker # Color picker
        - xdg-desktop-portal-hyprland
        - qt5-wayland
        - qt6-wayland
      aur:
        - grimblast-git
       # - hyprsysteminfo-git
    pkgs: "{{ (hyprland_pkgs.values() + wayland_common_pkgs.values()) + [thunar_pkgs] }}"
  kewlfft.aur.aur:
    name: "{{ pkgs | flatten }}"
    state: present
  tags: hyprland

- name: Creating config directory if it doesn't exist
  ansible.builtin.file:
    path: "{{config_dir}}/hypr"
    state: directory
    mode: '0755'
  tags: hyprland

- name: Copying config files
  ansible.builtin.command:
    cmd: stow -d {{stow_dir}} -t {{home}} --no-folding --dotfiles -S hypr
  changed_when: true
  tags: hyprland
