- name: "Installing Hyprland packages"
  community.general.pacman:
    name:
      - hyprland
      - xdg-desktop-portal-hyprland
      - waybar
      - rofi-wayland
      - swaync
      - hypridle
      - hyprlock
      - hyprcursor
      - swaybg
      - nwg-bar
      - nwg-look
      - polkit
      - hyprpolkitagent
      - desktop-file-utils
      - nwg-displays
      - nwg-drawer
      - nwg-icon-picker
      - nwg-menu
      - hyprpicker
      - wf-recorder
      - ristretto
      - cliphist
      - qt5-wayland
      - qt6-wayland
      - swappy
      - slurp
      - grim
      - wlsunset

- name: "Installing AUR packages"
  ansible.builtin.expect:
    command: paru -S --noconfirm --needed hyprsysteminfo wvkbd waypaper grimblast
    responses: "{{sudo_password}}"

- name: Creating config directory if it doesn't exist
  ansible.builtin.file:
    path: "{{config_dir}}/hypr"
    state: directory
    mode: '0755'

- name: Copying config files
  ansible.builtin.command:
    cmd: stow -d {{root_dir}}/../ -t {{home}} --no-folding --dotfiles -S hypr waybar
