- name: "Installing Hyprland packages"
  vars:
    pkgs: "{{ hyprland_pkgs.values() + wayland_common_pkgs.values() }}"
  kewlfft.aur.aur:
    name: "{{ item }}"
  loop: "{{ (pkgs + [thunar_pkgs]) | flatten }}"
  tags: hyprland

- name: Creating config directory if it doesn't exist
  ansible.builtin.file:
    path: "{{config_dir}}/hypr"
    state: directory
    mode: '0755'
  tags: hyprland

- name: Copying config files
  ansible.builtin.command:
    cmd: stow -d {{stow_dir}} -t {{home}} --no-folding --dotfiles -S hypr
  changed_when: true
  tags: hyprland
