[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[user]
	name = Chester
	email = nestor_chavez@hotmail.es
[credential]
	helper = /usr/share/git/credential/libsecret/git-credential-libsecret
[alias]
  st = status
  stt = status --short --branch
  ci = commit -a -v
  adu = add -u
  pum = push origin master
