* {
    /*border: none;*/
    border-radius: 5px;
    font-family: Roboto, CodeNewRoman Nerd Font;
    font-size: 15px;
    min-height: 10px;
}

#window {
    padding-left: 15px;
}

window#waybar {
    background: alpha(shade(@theme_base_color, 1), 0.5);
    color: @theme_text_color;
}

tooltip {
    background: alpha(@theme_base_color, 0.5);
    border: 1px solid @unfocused_borders;
}

tooltip label {
    color: @theme_text_color;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: @theme_text_color;
    border-bottom: 3px solid transparent;
}
#workspaces button.empty {
    color: @unfocused_borders;
}

#workspaces button.active {
    /* background: @theme_selected_bg_color; */
    /* color: @theme_selected_fg_color; */
    /* border-bottom: 2px solid @theme_text_color; */
    color: @theme_selected_bg_color;
}

#submap {
    margin: 0 5px;
    padding: 0 5px;
    background-color: @theme_selected_bg_color;
    border: 1px solid @theme_text_color;
}

.modules-right>widget>* {
    padding: 0 12px;
}

#custom-launcher {
    font-size: 1.8em;
    color: shade(@theme_selected_bg_color,1);
}

/* #idle_inhibitor, */
/* #pulseaudio, */
/* #network, */
/* #cpu, */
/* #memory, */
/* #temperature, */
/* #keyboard-state, */
/* #battery, */
/* #clock, */
/* #tray, */
/* #mode,  */
/* #clock,  */
/* #battery { */
/*     padding: 0 10px; */
/* } */

#mode {
    background: #64727D;
    border-bottom: 3px solid white;
}

#clock {
    font-weight: bold;
}

#battery {
    background-color: #ffffff;
    color: black;
}

#battery.charging {
    color: white;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    background: #f53c3c;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
