- name: "Installing Web Browser packages"
  block:
    - name: "Installing Brave Browser"
      ansible.builtin.expect:
        command: paru -S --noprogressbar --noconfirm --needed {{item}}
        responses:
          password: "{{ sudo_password }}"
      when: paru_exist is succeeded
      loop:
        - brave-bin
        - qutebrowser
