- name: Creating necessary folders
  ansible.builtin.file:
    path: "{{item}}"
    state: directory
    mode: '0755'
    recurse: true
  loop: "{{ [home ~ '/Sources'] + themes_path + icons_path}}"
  become: true

# - name: Utils | Installing utility cmd packages
#   community.general.pacman:
#     name: "{{item}}"
#     state: present
#   loop: "{{common_cmd_util}}"
#   become: true

- name: Utils | Installing utility cmd packages
  ansible.builtin.expect:
    command: paru -S --noprogressbar --noconfirm --needed {{item}}
    responses:
      password: "{{sudo_password}}"
  when: paru_exist is succeeded
  loop: "{{common_cmd_util.values() | flatten}}"
  become: false

# - name: Utils | Installing utility GUI packages
#   community.general.pacman:
#     name: "{{item}}"
#     state: present
#   loop: "{{common_gui_util}}"
#   become: true

- name: Utils | Installing utility GUI packages
  ansible.builtin.expect:
    command: paru -S --noprogressbar --noconfirm --needed {{item}}
    responses:
      password: "{{sudo_password}}"
  when: paru_exist is succeeded
  loop: "{{common_gui_util.values() | flatten}}"
  become: false

# - name: Installing utility Font packages
#   community.general.pacman:
#     name: "{{item}}"
#     state: present
#   loop: "{{common_fonts}}"
#   become: true

- name: Installing utility Font packages
  ansible.builtin.expect:
    command: paru -S --noprogressbar --noconfirm --needed {{item}}
    responses:
      password: "{{sudo_password}}"
  when: paru_exist is succeeded
  loop: "{{common_fonts.values | flatten}}"
  become: false

- name: Copying Fastfetch
  ansible.builtin.command:
    cmd: stow -d {{stow_dir}} -t {{home}} --no-folding --dotfiles -S fastfetch util-scripts music
  changed_when: true

- name: Setting plymouth theme to arch-logo-new
  ansible.builtin.command:
    cmd: plymouth-set-default-theme -R arch-logo-new
  changed_when: true
  become: true

- name: Moving Arch grub theme to correct path
  block:
    - name: Checking existence of Grub's theme
      ansible.builtin.stat:
        path: /usr/share/grub/themes/arch-linux
      register: f_stat

    - name: Moving theme to boot mount
      ansible.builtin.copy:
        src: /usr/share/grub/themes/arch-linux
        dest: /boot/grub/themes/arch-linux
        mode: '0644'
      become: true
      when: f_stat.stat.exists
