- name: Creating necessary folders
  ansible.builtin.file:
    path: "{{item}}"
    state: directory
    mode: '0755'
    recurse: true
  loop:
    - '{{home}}/Sources'
    - '{{home}}/.local/share/themes'

- name: Utils | Installing utility cmd packages
  community.general.pacman:
    name:
      - fzf
      - eza
      - fd
      - ripgrep
      - bat
      - bat-extras
      - zoxide
      - entr
      - 7zip
      - htop
      - lazygit
      - mpv
      - mpd
      - ncmpcpp
      - zathura
      - zathura-pdf-mupdf
      - nvm
      - ffmpeg
      - plymouth
      - rsync
      - rclone
      - yazi
      - fastfetch
      - gtk-engine-murrine
    state: present

- name: Utils | Installing utility GUI packages
  community.general.pacman:
    name:
      - galculator
      - seahorse
      - grub-customizer
      - font-manager
      - vlc
      - xarchiver
      - baobab
      - gparted
      - thunderbird
      - grsync
      - rhythmbox
    state: present

- name: Installing utility Font packages
  community.general.pacman:
    name:
      - ttf-hack-nerd
      - ttf-iosevka-nerd
      - ttf-firacode-nerd
      - ttf-sourcecodepro-nerd
      - ttf-terminus-nerd
      - ttf-0xproto-nerd
      - ttf-bigblueterminal-nerd
      - otf-codenewroman-nerd
      - woff2-font-awesome
      - noto-fonts-emoji
    state: present

- name: Installing UI related packages
  block:
    - name: Checking if Colloid dir exists
      ansible.builtin.stat:
        path: "{{home}}/Sources/Colloid-gtk-theme"
      register: colloid

    - name: Downloading Colloid theme
      ansible.builtin.git:
        repo: "https://github.com/vinceliuice/Colloid-gtk-theme"
        dest: "{{home}}/Sources/Colloid-gtk-theme"
      when: colloid.stat.isdir is not defined and not colloid.stat.isdir

    - name: Installing Colloid theme
      ansible.builtin.command:
        cmd: ./install -t all --tweaks nord -d "{{home}}/.local/share/themes"
        chdir: "{{home}}/Sources/Colloid-gtk-theme"
      when: colloid.stat.isdir is not defined and not colloid.stat.isdir

- name: "Installing AUR packages"
  ansible.builtin.expect:
    command: paru -S --noprogressbar --noconfirm --needed {{item}}
    responses:
      password: "{{sudo_password}}"
  when: paru_exist is succeeded
  with_items:
    - distro-grub-themes-arch
    - lssecret-git
    - menulibre
    - colloid-cursors-git
    - numix-circle-icon-theme-git
    - nordzy-icon-theme
    - plymouth-theme-arch-logo-new
    - ttf-ms-fonts
    - tty-clock
  become: false


- name: Copying Fastfetch, Zathura and MPD configuration
  ansible.builtin.command:
    cmd: stow -d {{root_dir}}/../ -t {{home}} --no-folding --dotfiles -S fastfetch pdf-reader util-scripts mpd music

- name: Creating necessary files for MPD
  ansible.builtin.file:
    path: "{{item.path}}"
    state: "{{item.state}}"
    mode: "{{item.mode}}"
  loop:
    - { path: "{{config_dir}}/mpd/playlists", state: "directory", mode: "0755" }
    - { path: "{{config_dir}}/mpd/db", state: "touch", mode: "0644" }
    - { path: "{{config_dir}}/mpd/stickers.sql", state: "touch", mode: "0644" }
    - { path: "{{config_dir}}/mpd/pid", state: "touch", mode: "0644" }
    - { path: "{{config_dir}}/mpd/state", state: "touch", mode: "0644" }

- name: Setting plymouth theme to arch-logo-new
  ansible.builtin.command:
    cmd: plymouth-set-default-theme -R arch-logo-new
  become: true

- name: Moving Arch grub theme to correct path
  ansible.builtin.command:
    cmd: mv /usr/share/grub/themes/arch-linux /boot/grub/themes/arch-linux
  become: true
