- name: Creating necessary folders
  ansible.builtin.file:
    path: "{{item}}"
    state: directory
    mode: '0755'
    recurse: true
  loop:
    - "{{ home ~ '/Sources' }}"
    - "{{themes_path[1]}}"
    - "{{icons_path[1]}}"
  when: not ansible_check_mode
  tags: main

- name: Utils | Installing utility cmd packages
  aur:
    name: "{{ item }}"
  loop: "{{common_cmd_util.values() | flatten}}"
  tags: main

- name: Utils | Installing utility GUI packages
  aur:
    name: "{{ item }}"
  loop: "{{common_gui_util.values() | flatten}}"
  tags: main

- name: Installing utility Font packages
  aur:
    name: "{{ item }}"
  loop: "{{common_fonts.values() | flatten}}"
  tags: main

- name: Get GPU vendor and model
  become: true
  ansible.builtin.shell: |
    set -o pipefail
    lshw -class display -json | jq -r '.[].vendor'
  args:
    executable: /bin/bash
  register: gpu_info
  changed_when: true

- name: Set GPU information as a fact
  ansible.builtin.set_fact:
    gpu_vendor: "{{ gpu_info.stdout }}"

- name: Install utilities for AMD GPU's
  community.general.pacman:
    name: "{{misc_pkgs.amdgpu}}"
    state: present
  when: gpu_vendor = is_amdgpu

- name: Setting plymouth theme to arch-logo-new
  ansible.builtin.command:
    cmd: plymouth-set-default-theme -R arch-logo-new
  changed_when: true
  become: true

- name: Copying util config
  ansible.builtin.command:
    cmd: stow -d {{stow_dir}} -t {{home}} --no-folding --dotfiles -S util-scripts music
  register: _utils
  changed_when: _utils.rc != 0

- name: Moving Arch grub theme to correct path
  block:
    - name: Checking existence of Grub's theme
      ansible.builtin.stat:
        path: /usr/share/grub/themes/arch-linux
      register: f_stat

    - name: Moving theme to boot mount
      ansible.builtin.copy:
        src: /usr/share/grub/themes/arch-linux
        dest: /boot/grub/themes/arch-linux
        mode: '0644'
      become: true
      when: f_stat.stat.exists
