- name: Installing Colloid Theme (theme, icon, cursor)
  vars:
    theme_name: Colloid-gtk-theme
    icon_name: Colloid-icon-theme
  block:
    - name: Checking for 'Colloid' theme
      find:
        paths: "{{themes_path}}"
        file_type: directory
        patterns: "Colloid*"
      register: colloid_theme

    - name: Checking for 'Colloid' icon theme
      find:
        paths: "{{icons_path}}"
        file_type: directory
        patterns: "Colloid*"
      register: colloid_icon

    - name: Downloading Colloid theme
      ansible.builtin.git:
        repo: "https://github.com/vinceliuice/{{theme_name}}"
        dest: "{{home}}/Sources/{{theme_name}}"
        depth: 1
        version: master
      when: colloid_theme.matched <= 0

    - name: Installing Colloid theme
      ansible.builtin.command:
        cmd: ./install -t default --tweaks nord -d "{{home}}/.local/share/themes"
        chdir: "{{home}}/Sources/{{theme_name}}"
      changed_when: true
      when: colloid_theme.matched <= 0

    - name: Downloading Colloid Icon and Cursor theme
      ansible.builtin.git:
        repo: "https://github.com/vinceliuice/{{icon_name}}"
        dest: "{{home}}/Sources/{{icon_name}}"
        depth: 1
        version: main
      when: colloid_icon.matched <= 0

    - name: Installing Colloid Icon theme
      ansible.builtin.command:
        cmd: ./install
        chdir: "{{home}}/Sources/{{icon_name}}"
      changed_when: true
      when: colloid_icon.matched <= 0

    - name: Installing Colloid Cursor theme
      ansible.builtin.command:
        cmd: ./install
        chdir: "{{home}}/Sources/{{icon_name}}/cursors"
      changed_when: true
      when: colloid_icon.matched <= 0
