- name: Installing dependecies for themes
  community.general.pacman:
    name:
      - sassc
  become: true

- name: Installing Colloid Theme (theme, icon, cursor)
  vars:
    theme_name: Colloid-gtk-theme
    icon_name: Colloid-icon-theme
  block:
    - name: Checking theme source existence
      ansible.builtin.stat:
        path: "{{home}}/Sources/{{theme_name}}"
      register: theme_exist

    - name: Downloading Colloid theme
      ansible.builtin.git:
        repo: "https://github.com/vinceliuice/{{theme_name}}"
        dest: "{{home}}/Sources/{{theme_name}}"
        depth: 1
        version: master
      when: not theme_exist.stat.exists

    - name: Installing Colloid theme
      ansible.builtin.command:
        cmd: ./install.sh --tweaks nord
        chdir: "{{home}}/Sources/{{theme_name}}"
      changed_when: true

    - name: Checking Icon source existence
      ansible.builtin.stat:
        path: "{{home}}/Sources/{{icon_name}}"
      register: icon_exist

    - name: Downloading Colloid Icon and Cursor theme
      ansible.builtin.git:
        repo: "https://github.com/vinceliuice/{{icon_name}}"
        dest: "{{home}}/Sources/{{icon_name}}"
        depth: 1
        version: main
      when: not icon_exist.stat.exists

    - name: Installing Colloid Icon theme
      ansible.builtin.command:
        cmd: ./install.sh
        chdir: "{{home}}/Sources/{{icon_name}}"
      changed_when: true

    - name: Installing Colloid Cursor theme
      ansible.builtin.command:
        cmd: ./install.sh
        chdir: "{{home}}/Sources/{{icon_name}}/cursors"
      changed_when: true
