- name: "Essential | Installing essential DE packages"
  community.general.pacman:
    name:
      - curl
      - tree
      - archlinux-contrib
      - pacman-contrib
      - xdg-utils
      - stow
      - xdg-user-dirs
      - unzip
      - gtk-engine-murrine
      - libva-mesa-driver
      - intel-media-driver
      - sound-theme-freedesktop
      - xf86-video-amdgpu

- name: "Essential | Installing networking packages"
  community.general.pacman:
    name:
      - iwd
      - networkmanager
      - network-manager-applet

- name: "OS | Installing audio packages"
  block:
    - name: "Installing packages"
      community.general.pacman:
        name:
          - pavucontrol
          - pipewire
          - pipewire-audio
          - pipewire-pulse
          - wireplumber
          - gst-plugin-pipewire

    - name: "Enable and Start Pipewire systemd user unit"
      ansible.builtin.systemd_service:
        name: pipewire.service
        enable: true
        status: started

- name: "Install Paru AUR manager"
  import_tasks: paru.yml
