---

- name: OS | Installing essential packages
  community.general.pacman:
    name: "{{item}}"
    state: present
  loop: "{{os_essential}}"
  become: true
  tags: main

- name: "OS | Installing networking packages and services"
  tags: main
  block:
    - name: Installing networking packages
      community.general.pacman:
        name: "{{item}}"
      loop: "{{os_network}}"
      become: true

    - name: "Starting and enabling networkmanager service"
      ansible.builtin.systemd_service:
        name: NetworkManager.service
        enabled: true
        state: started

- name: "OS | Installing audio packages"
  tags: main
  block:
    - name: "Installing packages"
      community.general.pacman:
        name: "{{item}}"
      loop: "{{os_audio}}"
      become: true

    - name: "Enable and Start Pipewire systemd user unit"
      ansible.builtin.systemd_service:
        name: pipewire.service
        enabled: true
        state: started
        scope: user

- name: "OS | Setting Libcredential"
  tags: main
  block:
    - name: Check if libsecret credential program exists
      ansible.builtin.stat:
        path: /usr/share/git/credential/libsecret/git-credential-libsecret
      register: lib_secret_file_status

    - name: "Compiling git libsecret credential"
      ansible.builtin.command:
        cmd: make
        chdir: /usr/share/git/credential/libsecret/
      become: true
      changed_when: not lib_secret_file_status.stat.exists
