---

- name: "Test if paru is already installed"
  ansible.builtin.shell: command -v parucush
  register: paru_exist
  ignore_errors: false
  changed_when: paru_exist.rc != 0

- name: Installing Paru AUR Helper
  when: paru_exist is failed
  block:
    - name: Clone Paru repository
      git:
        repo: https://aur.archlinux.org/paru-bin.git
        dest: ~/paru
        update: true
        version: master

    - name: Build Paru package
      ansible.builtin.command:
        chdir: ~/paru
        cmd: makepkg -s --noconfirm
      register: parumake
      changed_when: parumake.rc != 0

    - name: Find Compiled Paru package
      ansible.builtin.find:
        paths: ~/paru
        patterns: "paru-*.pkg.tar.zst"
      register: parupkg
      changed_when: parupkg.rc != 0

    - name: Install Paru package
      ansible.builtin.command:
        cmd: pacman -U --noconfirm "{{parupkg.files[0].path}}"
      become: true
      register: paruinstall
      when: parupkg.rc == 0
      changed_when: paruinstall.rc != 0

    - name: Clean up build files
      file:
        path: ~/paru
        state: absent
  rescue:
    - name: Could not install Paru
      debug:
        msg: "Installation failed. Cleaning up and exiting."

    - name: Exitting gracefully
      fail:
        msg: "Deployment aborted due to package installation failure"
