- name: Ensure base development packages are installed
  community.general.pacman:
    name:
      - python-pexpect
    state: present
    become: true

- name: Test if paru is already installed
  import_tasks: "{{ playbook_dir }}/pre_tasks/check_paru.yml"

- name: Clone Paru repository
  git:
    repo: https://aur.archlinux.org/paru-bin.git
    dest: ~/paru
    update: true
    version: master
  when: paru_exist is failed
  become: false

- name: Build and Install Paru package
  ansible.builtin.expect:
    chdir: ~/paru
    command: makepkg -si --noconfirm
    responses:
      password: "{{sudo_password}}"
  failed_when: false
  when: paru_exist is failed
  become: false

- name: Clean up build files
  file:
    path: ~/paru
    state: absent
  when: paru_exist is failed
