    - name: Ensure base development packages are installed
      pacman:
        name:
          - rust
          - python-pexpect
        state: present

    - name: Test if paru is already installed
      import_tasks: "{{ playbook_dir }}/pre_tasks/check_paru.yml"

    - name: Clone Paru repository
      git:
        repo: https://aur.archlinux.org/paru-bin.git
        dest: ~/paru
        update: yes
      when: paru_exist is failed
      become: false

    - name: Build and Install Paru package
      ansible.builtin.expect:
        chdir: ~/paru
        command: makepkg -si --noconfirm
        responses:
          password: "{{sudo_password}}"
      ignore_errors: true
      when: paru_exist is failed
      become: false

    - name: Clean up build files
      file:
        path: ~/paru
        state: absent
      when: paru_exist is failed
