    - name: "Essential | Installing essential DE packages"
      community.general.pacman:
        name:
          - curl
          - tree
          - archlinux-contrib
          - pacman-contrib
          - xdg-utils
          - stow
          - xdg-user-dirs
          - unzip
          - gtk-engine-murrine
          - libva-mesa-driver
          - intel-media-driver
          - sound-theme-freedesktop
          - xf86-video-amdgpu

    - name: "Essential | Installing networking packages"
      community.general.pacman:
        name:
          - iwd
          - networkmanager
          - network-manager-applet

    - name: "Essential | Installing audio packages"
      community.general.pacman:
        name:
          - pavucontrol
          - pipewire
          - pipewire-audio
          - pipewire-pulse
          - wireplumber
          - gst-plugin-pipewire

    - name: "Essential | Installing Display Manager packages"
      community.general.pacman:
        name:
          - sddm

    - name: "Essential | Installing File Manager packages"
      community.general.pacman:
        name:
          - thunar
          - thunar-archive-plugin
          - thunar-media-tags-plugin
          - thunar-volman
          - gvfs
          - gvfs-smb
          - gvfs-nfs

    - name: "Essential | Installing Web Browser packages"
      community.general.pacman:
        name:
          - firefox
          - firefox-addons

    - name: "Essential | Installing Shell and Terminal Emulator packages"
      community.general.pacman:
        name:
          - zsh
          - tmux
          - starship
          - alacritty

    - name: "Essential | Installing Editor packages"
      community.general.pacman:
        name:
          - neovim
