- name: "XFCE4 | Installing Xfce4 related packages"
  community.general.pacman:
    name:
      - xorg-server
      - xorg-xinit
      - xorg-apps
      - xfce4
      - xfce4-goodies
      - xfce4-panel-profiles
      - gigolo
      - transmission-gtk
      - catfish
      - atril
      - mugshot
      - wmctrl
      - redshift
      - geoclue
      - xclip
      - gst-libav
      - gcolor3
      - conky

- name: "XFCE4 | Installing AUR packages"
  ansible.builtin.expect:
    # qtvkbd is giving build errors
    command: paru -S --noconfirm --needed menulibre
    responses:
      password: "{{sudo_password}}"
  become: false
