configuration {
  modi: "window,run,drun,ssh";
  font: "mono 12";
  show-icons: true;
  display-ssh:    "";
  display-run:    "";
  display-drun:   "";
  display-window: "";
  display-combi:  "";
}

@theme "catppuccin/catppuccin"
