/* notificationwindow, blankwindow, blankwindow { */
/*   background: transparent; */
/* } */
.notification-row {
}
.notification-background {
}
.notification {
  /* background: rgba(70,50,30,0.5); */
}
.notification-group {
  transition: opacity 200ms ease-in-out;
}
.notification-group:focus{
  /* background: rgba(2, 1, 99, 0.8); */
}
.control-center {
  background-color: rgba(100,50,100,0.8);
}
.control-center .control-center-list {
 background: transparent;
}

.control-center .control-center-list .notification {
  /* background: rgba(144,100,220,0.8); */
}
/* .blank-window { */
   /* Window behind control center and on all other monitors */
/*   background: transparent; */
/* } */
/* .floating-notifications { */
/*   background: transparent; */
/**/
/* } */
.floating-notifications .notification {
    box-shadow: none;
}
