- name: "Essential | Installing Shell and Terminal Emulator packages"
  community.general.pacman:
    name:
      - tmux

- name: Get stats of the FS object
  ansible.builtin.stat:
    path: "{{config_dir}}/tmux"
  register: p

- name: Create a directory if it does not exist
  ansible.builtin.file:
    path: "{{config_dir}}/tmux"
    state: directory
    mode: '0755'
  when: p.stat.isdir is not defined and not p.stat.isdir

- name: Print a debug message
  ansible.builtin.debug:
    msg: "Path exists and is a directory"
  when: p.stat.isdir is defined and p.stat.isdir

- name: "Copying config files"
  ansible.builtin.copy:
    src: tmux.conf
    dest: "{{config_dir}}/tmux"
# tpm download and config, and install plugin
