- name: Installing Terminal Multiplexer packages
  community.general.pacman:
    name:
      - tmux

- name: Create a directory if it does not exist
  ansible.builtin.file:
    path: "{{config_dir}}/tmux"
    state: directory
    mode: '0755'

- name: "Copying config file"
  ansible.builtin.copy:
    src: tmux.conf
    dest: "{{config_dir}}/tmux"
    force: yes

- name: "Copying Theme Folder"
  ansible.builtin.copy:
    src: themes
    dest: "{{config_dir}}/tmux/"
    force: yes

- name: Copying Tmux scripts
  ansible.builtin.copy:
    src: "{{item}}"
    dest: "{{script_config}}"
  with_fileglob:
    - "scripts/*"
