- name: Installing Xfce4 related packages
  community.general.pacman:
    name:
      - xorg-server
      - xorg-xinit
      - xorg-apps
      - xfce4
      - xfce4-goodies
      - xfce4-panel-profiles
    # for tumblerd
      - ffmpegthumbnailer
      - freetype2
      - libgepub
      - libgsf
      - libopenraw
    # -------------
      - catfish
      - gigolo
      - mugshot
      - wmctrl
      - redshift
      - geoclue
      - xclip
      - gst-libav
      - conky
      - screenkey
      - xdg-desktop-portal-xapp
    state: present
  become: true

# some configuration
- name: Creating xfce4 config directory
  ansible.builtin.file:
    path: "{{config_dir}}/xfce4/xfconf/xfce-perchannel-xml"
    state: directory
    mode: '0755'
    recurse: true

- name: Copying xfce4 config files
  ansible.builtin.command:
    cmd: stow -d {{stow_dir}} -t {{home}} --no-folding --dotfiles -S xfce4
  changed_when: true
