- name: "Installing Xfce4 related packages"
  community.general.pacman:
    name:
      - xorg-server
      - xorg-xinit
      - xorg-apps
      - xfce4
      - xfce4-goodies
      - xfce4-panel-profiles
      - gvfs
      - gvfs-smb
      - gvfs-nfs
      - gigolo
      - transmission-gtk
      - catfish
      - atril
      - mugshot
      - wmctrl
      - redshift
      - geoclue
      - xclip
      - gst-libav
      - gcolor3
      - conky

# some configuration
- name: Creating xfce4 config directory
  ansible.builtin.file:
    path: "{{config_dir}}/xfce4/xfconf/xfce-perchannel-xml"
    state: directory
    mode: '0755'
    recurse: true

- name: Copying xfce4 config files
  ansible.builtin.command:
    cmd: stow -d {{root_dir}}/../ -t {{home}} --no-folding --dotfiles -S xfce4
