- name: "Checking if Paru is installed"
  include_tasks: "{{ playbook_dir }}/pre_tasks/check_paru.yml"
  when: paru_exist is not defined

- name: "Installing Display Manager packages"
  community.general.pacman:
    name:
      - sddm
    become: true

- name: "Installing SDDM AUR packages"
  ansible.builtin.expect:
    command: paru -S --noprogressbar --noconfirm --needed {{item}}
    responses:
      password: "{{sudo_password}}"
  when: paru_exist is succeeded
  with_items:
    - sddm-conf-git
    - sddm-eucalyptus-drop

- name: Checking existence of config file
  ansible.builtin.stat:
    path: /etc/sddm.conf
  register: f_stat

- name: Configuring SDDM theme
  ansible.builtin.lineinfile:
    path: /etc/sddm.conf
    regexp: '^Current='
    line: Current=eucalyptus-drop
  become: true
  when: f_stat.stat.exists
