- name: "Checking if Paru is installed"
  include_tasks: "{{ playbook_dir }}/pre_tasks/check_paru.yml"
  when: paru_exist is not defined

- name: "Installing Display Manager packages"
  community.general.pacman:
    name:
      - sddm

- name: "Installing SDDM AUR packages"
  ansible.builtin.expect:
    command: paru -S --noprogressbar --noconfirm --needed {{item}}
    responses: 
      password: "{{sudo_password}}"
  when: paru_exist is succeeded
  with_items:
      - sddm-conf-git
      - sddm-eucalyptus-drop

- name: Configuring SDDM theme
  ansible.builtin.command: sed 's/Current=.*/Current=eucalyptus-drop/g' /etc/sddm.conf
  become: yes
