* {
    border: none;
    border-radius: 0;
    font-family: CodeNewRoman Nerd Font, roboto;
    font-size: 15px;
    min-height: 10px;
}

window#waybar {
    background: alpha(shade(@theme_base_color, 1.25), 0.5);
    color: @theme_text_color;
}

tooltip {
  background: rgba(43, 48, 59, 0.5);
  border: 1px solid rgba(100, 114, 125, 0.5);
}
tooltip label {
  color: white;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: @theme_text_color;
    border-bottom: 3px solid transparent;
}

#workspaces button.active {
    background: @theme_selected_bg_color;
    color: @theme_text_color;
    border-bottom: 3px solid @theme_text_color;
}
#submap {
  margin: 0 5px;
  padding: 0 5px;
  background-color: @theme_selected_bg_color;
  border: 1px solid @theme_text_color;
}
.modules-right > widget > * {
    padding: 0 12px;
}
#custom-launcher{
  font-size: 1.8em;
}
/* #idle_inhibitor, */
/* #pulseaudio, */
/* #network, */
/* #cpu, */
/* #memory, */
/* #temperature, */
/* #keyboard-state, */
/* #battery, */
/* #clock, */
/* #tray, */
/* #mode,  */
/* #clock,  */
/* #battery { */
/*     padding: 0 10px; */
/* } */

#mode {
    background: #64727D;
    border-bottom: 3px solid white;
}

#clock {
    background-color: #64727D;
}

#battery {
    background-color: #ffffff;
    color: black;
}

#battery.charging {
    color: white;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    background: #f53c3c;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
