---
# Unir todos los playbooks

- name: "Main file for all playbooks"
  hosts: localhost
  become: false
  vars:
    sudo_password: "{{ do_pass }}"
    _name: Main

  pre_tasks:
    - name: "{{_name}} | Sync and Upgrade system"
      community.general.pacman:
        update_cache: true
        upgrade: true
      become: true
      tags: always

    - name: "{{_name}} | Check and Install Paru AUR Helper"
      ansible.builtin.import_role:
        name: os
        tasks_from: paru
      tags: always

  post_tasks:
    - name: Misc packages you might want to install later
      ansible.builtin.debug:
        msg:
          - "Misc packages you might want to install later"
          - "Packages: {{misc_pkgs}}"
      tags: always

  tasks:
    - name: Main Roles
      ansible.builtin.include_role:
        name: '{{ role_name }}'
      loop:
        - os
        - sudo
        - common
      loop_control:
        loop_var: role_name
      tags:
        - main

    - name: Installing Xfce4 desktop role
      ansible.builtin.import_role:
        name: xfce4_desktop
      tags:
        - never
        - xfce4

    - name: Installing Hyprland desktop role
      ansible.builtin.import_role:
        name: hyprland_desktop
      tags:
        - never
        - hypr

    - name: Installing SwayWM desktop role
      ansible.builtin.import_role:
        name: sway_desktop
      tags:
        - never
        - sway

    - name: Installing Qemu Role
      ansible.builtin.import_role:
        name: qemu
      tags:
        - never
        - qemu

    - name: Installing Flatpak Role
      ansible.builtin.import_role:
        name: flatpak
      tags:
        - never
        - flatpak

    - name: Installing Dev Role
      ansible.builtin.import_role:
        name: dev
      tags:
        - never
        - dev
