---
# Unir todos los playbooks

- name: "Main file for all playbooks"
  hosts: localhost
  become: false
  vars:
    sudo_password: "{{ do_pass }}"
    de_option: "{{ de | default('none')}}"
    _name: Main
    main_roles:
      - os
      - sudo
      - common
    tool_roles:
      - neovim
      - zsh
      - tmux
      - rofi
      - yazi
      - zathura
      - alacritty
      - webbrowser
      - sddm

  pre_tasks:
    - name: "{{_name}} | Sync and Upgrade system"
      community.general.pacman:
        update_cache: true
        upgrade: true
      become: true
      tags: always

    - name: "{{_name}} | Ensure base development packages are installed"
      community.general.pacman:
        name:
          - base-devel
          - curl
      become: true

    - name: "Main | Check and Install Paru AUR Helper"
      ansible.builtin.import_role:
        name: os
        tasks_from: paru
      tags: always

  tasks:
    - name: Main Roles
      ansible.builtin.include_role:
        name: '{{ role_name }}'
      loop: "{{ main_roles }}"
      loop_control:
        loop_var: role_name
      tags: mainroles

    - name: Installing Xfce4
      ansible.builtin.include_role:
        name: '{{ role_name }}'
        apply:
          tags: ['{{ role_name}}']
      loop: [xfce4, picom]
      loop_control:
        loop_var: role_name
      when: de_option == "xfce4" or 'xfce4' in ansible_run_tags
      tags: xfce4

    - name: Installing Hyprland
      ansible.builtin.include_role:
        name: '{{ role_name }}'
        apply:
          tags: ['{{ role_name}}']
      loop: [hyprland]
      loop_control:
        loop_var: role_name
      when: de_option == "hypr" or 'hypr' in ansible_run_tags
      tags: hypr

    - name: Installing SwayWM
      ansible.builtin.include_role:
        name: '{{ role_name }}'
        apply:
          tags: ['{{ role_name}}']
      loop: [sway]
      loop_control:
        loop_var: role_name
      when: de_option == "sway" or 'sway' in ansible_run_tags
      tags: sway

    - name: Tool Roles
      ansible.builtin.include_role:
        name: '{{ role_name }}'
      loop: "{{ tool_roles }}"
      loop_control:
        loop_var: role_name
      tags: toolroles
