--- 

- name: Playbook de prueba
  hosts: localhost
  tasks:

  - name: Copying Fastfetch, Zathura and MPD configuration
    ansible.builtin.command:
      cmd: stow -d {{root_dir}}/../ -t {{home}} --no-folding --dotfiles -S mpd

  - name: Creating necessary files for MPD
    ansible.builtin.file:
      path: "{{item.path}}"
      state: "{{item.state}}"
      mode: "{{item.mode}}"
    loop:
      - { path: "{{config_dir}}/mpd/playlists", state: "directory", mode: "0755" }
      - { path: "{{config_dir}}/mpd/db", state: "touch", mode: "0644" }
      - { path: "{{config_dir}}/mpd/stickers.sql", state: "touch", mode: "0644" }
      - { path: "{{config_dir}}/mpd/pid", state: "touch", mode: "0644" }
      - { path: "{{config_dir}}/mpd/state", state: "touch", mode: "0644" }

