---
- name: Playbook de prueba
  hosts: localhost
  vars:
    is_amdgpu: "Advanced Micro Devices, Inc. [AMD/ATI]"
    is_nvidia: "NVIDIA Corporation"
    is_intel: GenuineIntel
    is_amd: AuthenticAMD
    my_list:
      - nvim
      - gcolor3
    other_list:
      - rofi
    theme_path:
      - /usr/share/icons
      - "{{home}}/.local/share/icons"
    myDict:
      elem1:
        - joder
        - parce
      elem2:
        - concha
        - delalora
    myDict2:
      elem1:
        - cuca
        - shucaj
      elem2:
        - loquito
        - cuchardo

  tasks:
    - name: Get GPU vendor and model
      become: true
      ansible.builtin.shell: |
        lshw -class display -json | jq -r '.[].vendor'
      register: gpu_info
      changed_when: true

    - name: Show the user used to connect to the host
      ansible.builtin.debug:
        msg: "I connected as {{ ansible_facts['user_id'] }}"

    - name: Show the user used to SUDO
      ansible.builtin.debug:
        msg: "I connected as {{  ansible_facts['user_id']  }}"
      become: true

    - name: Set GPU information as a fact
      ansible.builtin.set_fact:
        gpu_vendor: "{{ gpu_info.stdout }}"

    - name: Printing gpu vendor
      ansible.builtin.debug:
        msg: Veamos que tal {{ gpu_vendor }} el gpu info es {{gpu_info.stdout}}

    - name: Conditional rendering of msgs
      ansible.builtin.debug:
        msg: Usando AMD bb
      when: gpu_vendor == is_amd

    - name: Displaying some facts
      ansible.builtin.debug:
        msg:
          - "{{ ansible_facts.processor[1] }}"


    - name: Getting mail and some secrets
      ansible.builtin.command:
        cmd: bw get password githu
      register: out
      changed_when: false

    - name: Displaying data
      ansible.builtin.debug:
        msg:
          - "Datito es: {{out.stdout}}"
