- name: Installing MPD and Player
  ansible.community.pacman:
    name:
      - mpd
      - ncmpcpp
    state: present
  become: true
  tags: mpd

- name: Creating necessary files for MPD
  ansible.builtin.file:
    path: "{{item.path}}"
    state: "{{item.state}}"
    mode: "{{item.mode}}"
  loop:
    - { path: "{{config_dir}}/mpd/playlists", state: "directory", mode: "0755" }
    - { path: "{{config_dir}}/mpd/db", state: "touch", mode: "0644" }
    - { path: "{{config_dir}}/mpd/stickers.sql", state: "touch", mode: "0644" }
    - { path: "{{config_dir}}/mpd/pid", state: "touch", mode: "0644" }
    - { path: "{{config_dir}}/mpd/state", state: "touch", mode: "0644" }
  tags: mpd

- name: "Enable MPD systemd user unit"
  ansible.builtin.systemd_service:
    name: mpd.service
    enabled: true
    scope: user
  tags: mpd

- name: Copying MPD configuration
  ansible.builtin.command:
    cmd: stow -d {{stow_dir}} -t {{home}} --no-folding --dotfiles -S mpd
  changed_when: true
  tags: mpd
