- name: "Picom | Installing X11 compositor"
  community.general.pacman:
    name:
      - picom
  become: true

- name: Creating config directory
  ansible.builtin.file:
    path: "{{config_dir}}/picom"
    state: directory
    mode: '0755'

- name: Copying config file
  ansible.builtin.command:
    cmd: stow -d {{stow_dir}} -t {{home}} --no-folding --dotfiles -S picom
  changed_when: true

- name: Configuring Picom config for guest os
  ansible.builtin.lineinfile:
    path: "{{config_dir}}/picom/picom.conf"
    regexp: '^backend ='
    line: backend = "xrender"
  when: ansible_facts["virtualization_role"] == "guest"
