- name: "Picom | Installing X11 compositor"
  community.general.pacman:
    name:
      - picom
  become: true

- name: Creating config directory
  ansible.builtin.file:
    path: "{{config_dir}}/picom"
    state: directory
    mode: '0755'

- name: Copying config file
  ansible.builtin.command:
    cmd: stow -d {{root_dir}}/../ -t {{home}} --no-folding --dotfiles -S picom
  changed_when: true
